
body{
    background-color: darksalmon;
    margin: 5%;
}
#dont-hover {
        position: relative;
        margin:10px 1px;
        /*height: 13px; */
        float: left;
        padding-left: 0px;
        background: darksalmon; display: block; 
    margin-bottom: 5%;
    }

.non-submit{
    width:35%
}